---
import { LEGAL_ENTITY, operatingEntitySentence } from '../../data/legal-entity';
---

<div class="legal-entity-notice">
  <p><strong>Operating entity.</strong> {operatingEntitySentence()}</p>
  <p>
    <strong>Contact address:</strong> {LEGAL_ENTITY.address}
  </p>
</div>
